/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #ff4d4d;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  .nearby-users-section {
    margin-bottom: 20px;
  }
  
  .user-card-container {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
  }
  
  .user-card {
    flex: 0 0 auto;
    width: 600px;
    height: 500px;
    margin: 10px;
    border-radius: 35px;
    background-color: white;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-card img {
    width: 600px;
    height: 500px;
    border-radius: 35px;
    object-fit: cover;
  }
  
  .user-card h2 {
    margin: 10px 0;
  }
  
  .user-card p {
    margin: 5px 0;
  }
  
  button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ff3333;
  }
  
  .user-card.active {
    cursor: -webkit-grabbing;
    cursor: grabbing;

  }
  .profile-section, .edit-profile-section {
    padding: 20px;
  }
  
  .profile-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-header {
    text-align: center;
  }
  
  .profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .profile-header h2 {
    margin: 10px 0;
  }
  
  .profile-details p {
    margin: 5px 0;
    width: 100%;
  }
  
